html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

h2, p {
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Roboto', sans-serif;
}

.page-header {
  padding-top: 30px;
  padding-bottom: 35px;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #95e1d3;
  text-decoration: none;
}

.site-navigate {
  min-width: 490px;
  display: flex;
  justify-content: space-between;
}

.site-navigate li {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  list-style-type: none;
}

.site-navigate a {
  display: block;
  color: #95e1d3;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s linear;
}


.site-navigate a:hover {
  color: #f38181;
}

.site-navigate a::after {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  content: '';
  height: 3px;
  width: auto;
  background-color: #f38181;
  opacity: 0;
  transition: 0.2s linear;
}

.site-navigate a:hover::after {
  opacity: 1;
}

.container-services {
  min-width: 1185px;
  margin: 0 auto;
}

.title-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: none;
}

.title-name {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.title-name::after {
  display: block;
  margin: 40px auto;
  margin-bottom: 60px;
  content: '';
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.folder_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 40px;
}

.content-item {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 90px;
}

.block-services {
  display: block;
  height: 80px;
  width: 385px;
  position: relative;
}

.content-title {
  display: block;
  padding-left: 75px;
  padding-bottom: 15px;
  text-align: start;
  width: 80%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.content-about {
  display: block;
  padding-left: 75px;
  font-weight: 500;
  font-size: 14px;
  color: #999999;
}

.block-services::before {
  display: block;
  height: 75px;
  width: 75px;
  content: '';
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: 50%;
  position: absolute;
}

.block-services.alarm::before {
  background-image: url(../img/icon/alarm.png);
}

.block-services.line::before {
  background-image: url(../img/icon/linegraph.png);
}

.block-services.comp::before {
  background-image: url(../img/icon/computerok.png);
}

.block-services.book::before {
  background-image: url(../img/icon/book1.png);
}

.block-services.home::before {
  background-image: url(../img/icon/home.png);
}

.block-services.img1::before {
  background-image: url(../img/icon/image1.png);
}

.team .title-name::after {
  margin-bottom: 40px;
}

.title-team-info {
  margin: 0 125px;
  margin-bottom: 90px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #999999;
}

.content-photo {
  height: 470px;
  width: 380px;
  margin-bottom: 25px;
  background-size: cover;
  position: relative;
  transition: 0.2s linear;
}

.content-photo.overlay_bcg {
  position: relative;
  background-color: #95e1d3;
}

.content-photo.team {
  transition: 0.2s;
}

.overlay-icons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
}

.content-photo.dix {
  background-image: url(../img/photo/dix.png);
}

.content-photo.campbell {
  background-image: url(../img/photo/campbell.png);
}

.content-photo.fertic {
  background-image: url(../img/photo/fertic.png);
}

.overlay_icon {
  height: 55px;
  width: 55px;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0px;
  border-right: 1px solid #f9bd87;
  opacity: 0;
  transition: 0.2s linear;
}

.overlay_icon a {
  height: auto;
  width: auto;
}

.overlay_icon.fb {
  background-image: url(../img/icon/facebook.png)
}

.overlay_icon.twit {
  background-image: url(../img/icon/twitter.png)
}

.overlay_icon.pint {
  background-image: url(../img/icon/pinterest.png)
}

.overlay_icon.inst {
  background-image: url(../img/icon/instagram.png)
}

.content-item.team:hover .content-photo.team{
  position: absolute;
  transform: translate(-10px, -10px)
}

.content-item.team:hover .content-photo.linear{
  background-image: linear-gradient(to top, #fce38a, #f38181);
  opacity: 0.8;
}

.content-item.team:hover .overlay-icons .overlay_icon{
  cursor: pointer;
  opacity: 2;
}

.overlay_icon:hover {
  background-color: #95e1d3;
}

.content-info {
  text-align: center;
}

.content-info-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.content-info-special  {
  font-weight: 100;
  font-style: italic;
  font-size: 15px;
  color: #999999;
}

.footer {
  height: 65px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_design {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.footer-text-color {
  color: #f38181;
}

.block-email {
  display: inline-flex;
  align-items: center;
  height: 40px;
  width: 380px;
  border: 1px solid #e5e5e5;
}

.email-input {
  height: 100%;
  width: 60%;
  padding-left: 5px;
  font-weight: 100;
  font-style: italic;
  font-size: 15px;
  color: #999999;
}

.email-subscribe {
  display: block;
  height: 100%;
  width: 40%;
  padding: 0;
  background-color: #95e1d3;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  align-items: center;
  text-transform: uppercase;
  line-height: 40px;
  border: none;
  cursor: pointer;
}