html {
    box-sizing: content-box;;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
  }
  
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    margin: 0 auto;
    min-width: 320px;
}

.bcg_cont {
    height: 100vh;
    width: 100%;
    margin-bottom: 15vh;
    position: relative;
    text-align: center;
    background-color: #000000;
    opacity: 0.85;
}

.bcg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../img/bcg-image.png);
    background-position: center;
    background-size: cover;
}

.header {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 100%;
}

.nav__container {
    width: 100%;
    margin-bottom: 8%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2em;
    font-weight: 700;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.log__block {
    margin: 0;
    padding: 6vh 0 24.5vh 0;
    display: flex;
    justify-content: space-between;
}

.log__block li {
    list-style-type: none;
}

.log__block a {
    padding: 1.8vh 3.5vw;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    border: 0.4vh solid #fff;
    border-radius: 4vh;
    transition: 0.2s;
}

.log__block a:hover {
    border: 0.4vh solid transparent;
}

.title_first {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.main__title {
    width: 95%;
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
    text-transform: uppercase;
    font-size: 3em;
    color: #fff;
}

.info__title {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 1.8em;
    color: #fff;
    text-align: center;
}

.btn_partner {
    width: 80%;
    padding: 1.8vh;
    background-color: #ff4e50;
    border: 0.4vh solid transparent;
    border-radius: 4vh;
    font-size: 1.4em;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.btn_partner:hover {
    background-color: transparent;
    border: 0.4vh solid #ff4e50;
}

.block__partner {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15%;
    text-align: center;
}

.p_block_partner {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    font-weight: 700;
    font-size: 2.2em;
}

.partner__container {
    margin: 4vh auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partner {
    width: 100%;
    list-style-type: none;
}

.partner.one {
    order: 1;
}

.partner.two {
    order: 3;
}

.partner.three {
    order: 2;
}

.partner.four {
    order: 4;
}

.partner__photo__cont {
    height: 120px;
    width: 120px;
    position: relative;
    margin: 0 auto;
}

.partner__photo {
    height: 100%;
    width: 100%;
}

.partner__icon {
    height: 12%;
    width: 12%;
    padding: 1.5vh;
    position: absolute;
    bottom: 0;
    left: 70%;
    transform: translateY(25%);
    border: 0.5vh solid #fff;
    border-radius: 50%;
}

.partner__icon.one {
    background-color: #ff4e50;
}

.partner__icon.two {
    background-color: #1cd7ad;
}

.partner__icon.three {
    background-color: #ffa507;
}

.partner__icon.four {
    background-color: #4e73db;
}

.partner__icon img {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 2.5vh;
}

.name__partner {
    font-size: 1.4em;
}

.info__partner {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 10%;
    width: 70%;;
    font-family: 'Roboto';
    font-size: 1.4em;
    color: #666666;
}

.btn_partner.other:hover {
    color: #ff4e50;
}