$main-font-stack: 'Roboto';
$secondary-font-stack: 'Montserrat';
$third-font-stack: 'Kaushan Script';
$grid-columns: 12;
$grid-max-width: 1200px;
$breakpoint-medium: 1024px;

$font-color-header: #fff;
$font-color-header-hover: #fce38a;
$font-color-main: #000;
$color-line: #f38181;
$font-color-content: #999999;
$icon-services-color: #95e1d3;
$bcg-color-team-item: #95e1d3;
$team-gradient-color-top: #f38181;
$team-gradient-color-btn: #fce38a;
$icon-bcg: #fce38a;
$icon-color: #f38181;
$icon-bcg-hover: #f38181;
$icon-color-hover: #fff;
$footer-line-color: #e5e5e5;
$footer-font-unique-color: #f38181;
$email-btn-bcg-color: #95e1d3;
$email-btn-font-color: #fff;
