html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
font-family: Roboto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  padding-top: 35px;
  padding-bottom: 100px;
}

.page-nav {
  text-transform: uppercase;
}

.logo a{
  font-size: 30px;
  color: #555252;
  text-decoration: none;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: bold;
}

.site-navigate {
  padding-top: 7px;
}

.site-navigate li {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  list-style-type: none;
  color: #0f0101;
  padding-right: 25px;
}

.site-navigate li:last-child {
  padding-right: 0px;
}

.site-navigate a {
  text-decoration: none;
  color: #0f0101;
}

.site-navigate a:hover {
  color: #1abc9c;
}

li:hover {
  color: #1abc9c;
}

.logo { float: left; }
.site-navigate { float: right;}
.site-navigate li { float: left; }

.container {
width: 1110px;
margin: 35px auto;
position: relative;
}

.product {
  text-transform: uppercase;
  text-align: center;
  color: #555252;
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
  font-size: 48px;
}

.product::after {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  content: '';
  height: 7px;
  width: 160px;
  background-color: #1abc9c;
  left: 50%;
}

.folder_content {
  padding-bottom: 60px;
  padding: 0;
}

.content-item {
  display: block;
  float: left;
  width: 255px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 30px;
}

.content-item:nth-child(4n) {
  margin-right: 0px;
}

.content-item:hover .item {
  background-color: rgb(78, 198, 171);
}

.content-item:hover .price {
  background-color: rgba(78, 198, 171, 0.5);
}

.img_bcg {
  height: 280px;
  width: 255px;
  background-color: #e8effc;
}

.img {
  display: block;
  margin: auto;
  height: auto;
  max-height: 280px;
  width: auto;
  max-width: 255px;
}

.img_content {
  font-size: 0;
}

.item,
.price {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  width: auto;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  text-indent: 10px;
  font-weight: bold;
  color: #fff;
}

.item {
  width: 70%;
  font-size: 18px;
  background-color: rgba(50,50,50,1);
}

.price {
  width: 30%;
  font-size: 18px;
  text-align: center;
  background-color: rgba(50,50,50,0.5);
}

.item_news {
  float: left;
  width: 350px;
  margin-right: 30px;
}

.item_news:last-child {
  margin-right: 0;
}

.img_new {
  height: 260px;
  width: 350px;
}

.news_title {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
  margin-bottom: 15px;
}

.news_title::after {
  display: block;
  margin-top: 20px;
  margin-left: 0;
  content: '';
  height: 4px;
  width: 136px;
  background-color: #1abc9c;
}

.news_info {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  margin: 0;
  margin-bottom: 15px;
}

.news_btn {
  margin: 0;
  padding: 17px 43px;
  border-radius: 5px;
  background-color: #1abc9c;
  color: #fff;
}

.news_btn:hover {
  cursor: pointer;
}